.navbar{
    height:50px;
    border-radius: 0.5px solid rgb(231, 228, 228);
    // display: flex;
    // align-items: center;
    font-size: 13px;
    color: #1b1b1b;
    margin-left: 20px;
    margin-top: 20px;
}
b{
    color: grey;
}